!
version 16.9
hostname R1
!
ipv6 unicast-routing
!
!
interface GigabitEthernet0/0/0
 ip address 10.0.20.1 255.255.255.0
 negotiation auto
 ipv6 address 1:20::1/64
 ipv6 ospf 1 area 0
!
interface GigabitEthernet0/0/1
 ip address 10.0.0.1 255.255.255.0
 negotiation auto
 ipv6 address 1::1/64
 ipv6 ospf 1 area 0
!
!
router ospf 1
 router-id 1.1.1.1
 network 10.0.0.0 0.0.0.255 area 0
 network 10.0.20.0 0.0.0.255 area 0
!
ipv6 router ospf 1
 router-id 1.1.1.1
!
!
end
